@media all and (min-width: 480px) {
  .NameForm {
    padding: 60px 0;
    line-height: 20px;
  }

  .NameForm form {
    margin: 0 auto;
    padding: 30px;
    max-width: 320px;
    line-height: 20px;
  }
}
